@page
@model RagnarockApp.Pages.Exhibits.CreateExhibitModel
@{
    ViewData["Title"] = "CreateExhibit";
}
    


<h1 class="form__header">CreateExhibit</h1>

<form class="form" method="post">

    <div class="form__group">
        <label asp-for="@Model.exhibit.Id" class="form__label"> Id </label>
        <input asp-for="@Model.exhibit.Id" class="form__input" />
        <span asp-validation-for="exhibit.Id" class="text-danger"></span>
    </div>
    <div class="form__group">
        <label asp-for="@Model.exhibit.Name" class="form__label">Name </label>
        <input asp-for="@Model.exhibit.Name" class="form__input" />
        <span asp-validation-for="exhibit.Name" class="text-danger"></span>

    </div>
    <div class="form__group">
        <label asp-for="@Model.exhibit.Description" class="form__label">Description</label>
        <input asp-for="@Model.exhibit.Description" class="form__input" />
        <span asp-validation-for="exhibit.Description" class="text-danger"></span>

    </div>
    <div class="form__group">
        <label asp-for="@Model.exhibit.Imagename" class="form__label"> ImageName </label>
        <input asp-for="@Model.exhibit.Imagename" class="form__input"/>
    </div>

    
    <div class="form__group">
        <input id="form_submit" type="submit" value="Create" class="form__submitBtn" />
    </div>
</form>