@page
@model RagnarockApp.Pages.Exhibits.GetAllExhibitsModel
@{
    ViewData["Title"] = "GetAllExhibits";
}



<h1>GetAllExhibits</h1>

<p>
    <a asp-page="CreateExhibit">Create New Exhibit</a>
</p>

<form>
    <p>
        Search: <input type="text" asp-for="Filtercriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                Customization
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exhibits)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    <img src="~/Images/@item.Value.Imagename" width="100" height="100">
                </td>
                <td>
                    <a asp-page="UpdateExhibit" asp-route-id="@item.Key">Edit</a> |
                    <a asp-page="DeleteExhibit" asp-route-id="@item.Key">Delete</a>
                </td>
               





            </tr>
        }

    </tbody>
</table>